<ion-view view-title="Classifica">
    <ion-content ng-init="initClassifica()">
        <section ng-if="vm.loadingOk">
            <div ng-repeat="squadra in ::vm.squadre track by $index">
                <div class="card card--classifiche-gironi row">
                    <div class="col col-90">
                        <span class="title"><span class="text-primary">{{::squadra.posizione}} -</span> {{::squadra.nome_squadra}}</span>
                        PUNTI: <span class="text-primary">{{::squadra.punti}}</span> - GOL FATTI: <span class="text-primary">{{::squadra.gf}}</span> - GOL SUBITI: <span class="text-primary">{{::squadra.gs}}</span>
                        <br />
                        AMMONITI: <span class="text-primary">{{::squadra.amm}}</span> - ESPULSI: <span class="text-primary">{{::squadra.esp}}</span>
                    </div>
                    <div class="col text-right text-primary numero">
                        {{::squadra.punti_totali}}
                    </div>
                </div>
            </div>
        </section>
        <section ng-if="vm.loadingOk == false">
            <div class="card card--message" ng-if="!vm.loadingOk">
                <h2 class="card-title">Classifica</h2>
                <div class="card-content">{{::vm.errorMessage}}</div>
            </div>
        </section>
    </ion-content>
</ion-view>
