<ion-view view-title="Dettaglio tabellino">
    <ion-content class="dettaglio-tabellino">
        <div class="card card-dettaglio-tabellino-header">
            <i class="icon" ng-class="[giocatore.icona]"></i>
            {{giocatore.nome}} {{giocatore.cognome}}
        </div>
        <ion-list class="card card-dettaglio-tabellino-statistiche">
            <ion-item class="item row">
                <div class="col">
                    Voto
                </div>
                <div class="col col-10">
                    <span>{{giocatore.stats[0].voto | number: 1}}</span>
                </div>
            </ion-item>
            <ion-item class="item row">
                <div class="col">
                    Totale bonus/malus
                </div>
                <div class="col col-10">
                    <span>{{giocatore.stats[1].b_m | number: 1}}</span>
                </div>
            </ion-item>
            <ion-item class="item row">
                <div class="col">
                    Fantavoto
                </div>
                <div class="col col-10">
                    <span>{{giocatore.stats[2].mv | number: 1}}</span>
                </div>
            </ion-item>
            <ion-item class="item row">
                <div class="col">
                    Ammonizione/espulsione
                </div>
                <div class="col col-10">
                    <span>{{giocatore.stats[3].a_e ? (giocatore.stats[3].a_e | number: 1) : '-'}}</span>
                </div>
            </ion-item>
            <ion-item class="item row">
                <div class="col">
                    Gol subiti
                </div>
                <div class="col col-10">
                    <span>{{giocatore.stats[4].gs | number: 1}}</span>
                </div>
            </ion-item>
            <ion-item class="item row">
                <div class="col">
                    Autoreti
                </div>
                <div class="col col-10">
                    <span>{{giocatore.stats[5].aut | number: 1}}</span>
                </div>
            </ion-item>
            <ion-item class="item row">
                <div class="col">
                    Rigori sbagliati
                </div>
                <div class="col col-10">
                    <span>{{giocatore.stats[6].rsb | number: 1}}</span>
                </div>
            </ion-item>
            <ion-item class="item row">
                <div class="col">
                    Rigori segnati
                </div>
                <div class="col col-10">
                    <span>{{giocatore.stats[7].rs | number: 1}}</span>
                </div>
            </ion-item>
            <ion-item class="item row">
                <div class="col">
                    Rigori Parati
                </div>
                <div class="col col-10">
                    <span>{{giocatore.stats[8].rp | number: 1}}</span>
                </div>
            </ion-item>
            <ion-item class="item row">
                <div class="col">
                    Gol fatti
                </div>
                <div class="col col-10">
                    <span>{{giocatore.stats[9].gf | number: 1}}</span>
                </div>
            </ion-item>
            <ion-item class="item row">
                <div class="col">
                    Bonus portiere
                </div>
                <div class="col col-10">
                    <span>{{giocatore.stats[10].gol_45 | number: 1}}</span>
                </div>
            </ion-item>
            <ion-item class="item row" ng-if="misterCalcioCup">
                <div class="col">
                    Bonus sostituzione
                </div>
                <div class="col col-10">
                    <span>{{giocatore.stats[11].BSG | number: 1}}</span>
                </div>
            </ion-item>
            <ion-item class="item row" ng-if="misterCalcioCup">
                <div class="col">
                    Malus sostituzione
                </div>
                <div class="col col-10">
                    <span>{{giocatore.stats[12].MSA | number: 1}}</span>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
