<ion-view view-title="Opzioni squadra">
	<ion-content ng-init="opzioniSquadraInit()">
		<div class="card opzioni-squadra">
		    <h2 class="card-title">Dati squadra</h2>
			<div class="list">
	            <label class="item item-input">
	              <input type="text" ng-model="vm.nomeSquadra" placeholder="Nome squadra" required>
	            </label>
				<div class="row item item-text-wrap" >
					<div class="col col-34">
						<img ng-src="{{vm.urlAvatar}}">
					</div>
					<div class="col col-66">
						<button class="button button--generic" ng-click="modificaStemma()">Modifica stemma</button>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<div class="row">
				<div class="col">
					<button class="button button--opzioni-squadra" ng-click="salvaModifiche()">Salva</button>
				</div>
				<div class="col" ng-if="squadraSelected.eraseable">
					<button class="button button--opzioni-squadra" ng-click="eliminaSquadra()">Elimina</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>