<ion-view view-title="Partite">
	<ion-content ng-init="partiteGironiInit()" class="view--calendario-gironi">
		<div class="card card--calendario-riepilogo">
		    <h2 class="card-title">Calendario girone</h2>
			<div class="card-content">
				GIORNATA n° <span class="text-primary">{{::giornataGironi.numero}}</span>
			    <br />
		    	{{::giornataGironi.data}}
			</div>
		</div>

		<div class="card card--calendario-dettaglio" 
				ng-repeat="partita in ::giornataGironi.partite track by $index" 
				ng-click="goToDettaglioTabellino($index)" ng-if="::modoGioco!=3">
			<div class="row">
				<div class="col">
					<i class="icon icon-star-left" ng-if="::partita.squadre[0].winner"></i><span>{{::partita.squadre[0].nome}}</span>
				</div>
				<div class="col col-10 text-center number">
					{{::partita.squadre[0].gol}}-{{::partita.squadre[1].gol}}
				</div>
				<div class="col" style="text-align: right;">
					<i class="icon icon-star-right" ng-if="::partita.squadre[1].winner"></i><span>{{::partita.squadre[1].nome}}</span>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
