<ion-view view-title="Registrazione">
    <ion-header-bar>
        <h1 class="title topbar-logo">Registrati</h1>
        <div class="buttons-left">
            <button class="button button--back" ng-click="goBack()"><i class="icon ion-chevron-left"></i></button>
        </div>
    </ion-header-bar>

    <ion-content ng-init="registrazioneInit()" class="view--registrazione">
        <form name="formRegistrazione" ng-submit="formRegistrazione.$valid && registrazione()" novalidate="">
            <h2>REGISTRAZIONE FACEBOOK</h2>
            <label><input type="text" name="email" ng-model="vm.email" placeholder="Email" required ng-if="requiredMail == '1'"></label>
            <div class="form-errors"  
               ng-show="formRegistrazione.email.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.email.$error"
               ng-messages-include="form-errors.html">
            </div>
            <h2>Regolamento di gioco</h2>
            <a class="item item-icon-right" href="" ng-click="openRegolamento()">
                <strong>Visualizza regolamento</strong>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-toggle">
                Accetto
                <label class="toggle">
                       <input type="checkbox" name="regolamento" required ng-model="vm.accettaRegolamentoDiGioco" ng-true-value="1" ng-false-value="0" />
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="form-errors"  
               ng-show="formRegistrazione.regolamento.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.regolamento.$error"
               ng-messages-include="form-errors.html">
            </div>

            <h2>CONDIZIONI DI SERVIZIO</h2>
            <a class="item item-icon-right" ng-click="openServizioEditore()">
                <strong>Condizioni di servizio editore</strong>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-toggle">
                Accetto
                <label class="toggle">
                       <input type="checkbox" name="servizioEditore" ng-model="vm.accettaCondizioniEditore" ng-true-value="1" ng-false-value="0" required />
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <!-- 
            <input type="checkbox" name="servizioEditore" required ng-model="vm.accettaCondizioniEditore" ng-true-value="1" ng-false-value="0" />
            <div class="descrizione">
                Accetto le <a ng-click="openServizioEditore()">condizioni del servizio editore</a>
            </div> -->
            <div class="form-errors"  
               ng-show="formRegistrazione.servizioEditore.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.servizioEditore.$error"
               ng-messages-include="form-errors.html">
            </div>

            <a class="item item-icon-right" ng-click="openServizioGioco()">
                <strong>Condizioni di servizio gioco</strong>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-toggle">
                Accetto
                <label class="toggle">
                       <input type="checkbox" name="servizioGioco" ng-model="vm.accettaCondizioniGioco" ng-true-value="1" ng-false-value="0" required />
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <!-- <input type="checkbox" name="servizioGioco" required ng-model="vm.accettaCondizioniGioco" ng-true-value="1" ng-false-value="0" />
            <div class="descrizione">
                Accetto le <a ng-click="openServizioGioco()">condizioni del servizio gioco</a>
            </div> -->
            <div class="form-errors"  
               ng-show="formRegistrazione.servizioGioco.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.servizioGioco.$error"
               ng-messages-include="form-errors.html">
            </div>

            <h2>CONSENSO PRIVACY</h2>
            <a class="item item-icon-right" ng-click="openInformativaPrivacy()">
                <strong>Visualizza informativa privacy</strong>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="descrizione">
                <small>Consenso trattamento dati Ex art. 13 e 23 del d. lgs n. 196/2003.</small>
            </div>
            <div class="item item-toggle">
                Accetto
                <label class="toggle">
                       <input type="checkbox" name="privacy1" ng-model="vm.accettaPrivacy1" ng-true-value="1" ng-false-value="0" required />
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <!-- <input type="checkbox" name="privacy1" required ng-model="vm.accettaPrivacy1" ng-true-value="1" ng-false-value="0" />
            <div class="descrizione">
                Consenso trattamento dati <a ng-click="openInformativaPrivacy()">Ex art. 13 e 23 del d. lgs n. 196/2003</a>
            </div> -->
            <div class="form-errors"  
               ng-show="formRegistrazione.privacy1.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.privacy1.$error"
               ng-messages-include="form-errors.html">
            </div>

            <div class="descrizione">
                <small>Con riferimento al trattamento dei miei dati personali da parte dei Titolari e delle altre società del gruppo per finalità promozionali, pubblicitarie e di marketing, nonché per analisi statistiche anonime come meglio specificate nell'informativa</small>
            </div>
            <div class="item item-toggle">
                Accetto
                <label class="toggle">
                       <input type="checkbox" ng-model="vm.accettaPrivacy2" ng-true-value="1" ng-false-value="0">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>


            <div class="descrizione">
                <small> Con riferimento al trattamento dei miei dati personali da parte di società terze per finalità promozionali, pubblicitarie e di marketing, nonchè per analisi statistiche anonime come meglio specificate nell'informativa</small>
            </div>
            <div class="item item-toggle">
                Accetto
                <label class="toggle">
                   <input type="checkbox" ng-model="vm.accettaPrivacy3" ng-true-value="1" ng-false-value="0">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>


            <div class="descrizione">
                <button class="button button--registrati" type="submit">REGISTRATI</button>
            </div>
        </form>
    </ion-content>
</ion-view>

<script id="form-errors.html" type="text/ng-template">  
  <div class="form-error" ng-message="required">Campo obbligatorio</div>
</script>

<script id="regolamentoModal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <button class="button button-icon ion-close" ng-click="closeModalRegolamento()"></button>
            <h2 class="title">Regolamento</h2>
        </ion-header-bar>
        <ion-content>
            Regolamento embeddato?
        </ion-content>
    </ion-modal-view>
</script>
