<ion-view view-title="Scegli il gioco">
  <ion-content class="scegli-gioco">
    <h1 class="icona-gioco"></h1>
    <button class="button button--torneo-classico" ng-click="goToLogin(3)">
  		Torneo classico
	</button>
    <button class="button button--torneo-a-gironi" ng-click="goToLogin(1)">
  		Torneo a gironi
	</button>
  </ion-content>
</ion-view>
